body{
    background-color: #ff99ff
}
#myHeader{
    color:rgb(3, 90, 105);
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 2px 15px 2px rgba(83, 83, 90 , 0.3);
    margin-bottom:30px;

}
.main{
    display : flex;
    flex-direction:row; 
    justify-content:center;
    align-items:center;
    margin-top:20px;
    gap:10px;
}
#btnSearch{
    width:20%;
    height:60px;
    font-family:"Courier",monoscope;
    font-size:2rem;
    font-weight:600;
    color: #ffff99;
    background-color: #04AAff;
    border-radius:10px;
    border-width:2px;
    border-color: #77aaff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    margin:10px;
}
#inputCountry{
    width:50%;
    height:50px;
    font-family:"Courier",monoscope;
    font-size:1.8rem;
    color: #000099;
    background-color: #ffddff;
    border-radius:2px;
    border-width:2px;
    border-color: #77aaff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
    margin:5px;
}

#btnSearch:hover{
    font-size:2.1rem;
    color: #ffffaa;
    background-color: #0477ff;
    border-color: #eeaaff;
    box-shadow: 0 12px 16px 0 rgba(145,145,190,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
}

/* ============ From Script ================= */
.flagCountry{
    display:block;
    margin:1.2rem auto 1.5rem auto;
}
#header-det{
    font-family:"Aial",monoscope;
    color:rgb(23, 4, 110);
    margin-left:50px;
}
#span-header{
    font-family:"Courier",monoscope;
    color:rgb(111, 107, 114);
    margin-left:50px;

}
#header-err{
    font-family:"Courier",monoscope;
    color:rgb(235, 69, 3);
    margin-left:50px;
}
#span-err{
    font-family:"Courier",monoscope;
    color:rgb(38, 3, 235);
}
